.DS_Store
__pycache__/
*.py[cod]
*.pyo
*.pyd

yolo/results/
yolo/artifacts/

# local Word files
标定点.docx
~$*.docx
*.docx

# local Excel files
~$*.xlsx
*.xlsx

# local PPT files
~$*.pptx
*.pptx

# local PDF files
~$*.pdf
*.pdf

# local image files
~$*.jpg
~$*.jpeg
~$*.png
~$*.gif
~$*.bmp
~$*.tiff
~$*.tif
~$*.psd
~$*.raw
~$*.webp
~$*.svg
~$*.ai
~$*.eps
~$*.ico
